* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 800px;
  background-color: #f8f8f8;
  margin: 20px auto;
  padding: 20px;
}

.title {
  display: block;
  text-align: center;
  font-size: 40px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 20px;
}

.header {
  display: block;
  background: #fff;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 25px;
}

.name {
  color: #009688;
  margin-right: 20px;
}

.ID {
  color: #009688;
}

.countdown {
  position: absolute;
  right: 20px;
  color: #009688;
}

.question-box {
  display: block;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.question {
  font-size: 30px;
  margin-bottom: 10px;
}

.answers-box {
  display: flex;
  flex-direction: column;
}

.answers-box :nth-child(1) {
  order: 1;
}
.answers-box :nth-child(2) {
  order: 2;
}
.answers-box :nth-child(3) {
  order: 3;
}
.answers-box :nth-child(4) {
  order: 4;
}

.answer {
  background-color: #f8f8f8;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 20px;
  height: 50px;
  width: 100%;
}

.answer-label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  line-height: 50px;
  color: #777;
}

.answer-label:hover {
  background-color: #009688;
  color: #fff;
  font-weight: bold;
}

.answer-label.active {
  background-color: #009688;
  color: #fff;
  font-weight: bold;
}
.result {
  opacity: 0;
}

.result.wrong {
  opacity: 1;
  color: #dc0a0a;
}

.result.right {
  opacity: 1;
  color: #2bff00;
}

.nav-box {
  display: block;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.nav-box {
  font-size: 20px;
}

.btn {
  color: #0075ff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.btn :active {
  transform: scale(0.98);
}

.btn.prev.end {
  opacity: 0.2;
  cursor: not-allowed;
}

.btn.next.end {
  opacity: 0.2;
  cursor: not-allowed;
}

.submit {
  display: block;
  background: #0075ff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
.submit:focus {
  outline: none;
}
